<section class="featured">
    <h2>Directories</h2>
    <ul>
        <% @directories.each do |directory| %>
            <li>
                <%= directory.name %>
                <%= link_to "View Topics", directory_posts_path(directory) %>
            </li>
        <% end %>
    </ul>
</section>
