<h1>Access Requests</h1>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @access_requests.each do |access_request| %>
            <tr>
                <td><%= access_request.user.email %></td>
                <td><%= access_request.status %></td>
                <td>
                    <%= button_to 'Approve', method: :patch %>
                    <%= button_to 'Deny', method: :patch, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
