<h1><%= @directory.name %></h1>
<% @directory.posts.each do |post| %>
    <div>
        <h4>
            <%= post.title %>
        </h4>
        <p>
            <%= post.content %>
        </p>
    </div>
<% end %>